{% extends 'layout/base.html' %}

{% block title %}TRANG CHỦ{% endblock %}

{% block content %}
<h1 class="subject">CHÀO MỪNG CÁC BẠN ĐẾN WEBSITE KHÁCH SẠN</h1>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='images/VIP1_1.jpg') }}" alt="name" width="1000" height="500">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/VIP1_2.jpg') }}" alt="name" width="1000" height="500">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/VIP1_3.jpg') }}" alt="name" width="1000" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

{% for c in categories %}
<div id="{{ url_for('home', category_id=c.id) }}" class="container-fluid ">
    <h2 id="cate-info{{ c.id }}" class="detail"><a href="javascript:;" id="{{ category_id }}">{{ c.name }}</a></h2>

    {% for r in rooms %}
    {% if rooms and c.id==r.category_id %}
    <div class="info">
        <div class="card" >
          <img class="img-fluid card-img-top" src="{{ url_for('static', filename=r.image) }}" alt="{{ r.name }}"
               style="width:350px;height:200px">
          <div class="card-body">
            <h4 class="card-title">{{ r.name }}</h4>
            <p class="card-text">{{ "{:,.0f}".format(r.price) }} VNĐ</p>

            <a href="#" class="btn btn-primary" >Đặt phòng</a>
            <a href="{{ url_for('room_detail', room_id=r.id) }}"  class="btn btn-outline-info" >Xem chi tiết</a>
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
